{% extends "admin/ad/base.html.twig" %}
{% block title %}Modfication de l'annonce {{ ad.title }}{% endblock %}

{% block body %}
    <div class="container text-dark">
        <h1>Modification de l'annocne {{ ad.title }}</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <duiv class="card bg-light ">
                    <div class="card-header">
                        <h4 class="card-title">Corriger l'annonce ?</h4>
                        <div class="card-body">
                            <p>{{ include('annonces/_form.html.twig', {'button_label': 'Update'}) }}</p>
                        </div>
                    </div>
                </duiv>
            </div>

        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}


