{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
    <div class="container m-auto">
        <div class="row py-4">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6"></div>
            <div class="bg-light py-3 px-3 m-auto">
                <h1 class="text-info">Connectez-vous !</h1>
                {% if error %}
                    <div class="alert alert-danger">
                        Une erreur est survenue, email ou mot de passe est invalide !
                    </div>
                {% endif %}
                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label class="text-info" for="email">Email</label>
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required value="{{ username }}">
                    </div>
                    <div class="form-group">
                        <label class="text-info" for="password">Mot de passe</label>
                        <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe..." required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Connexion !</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
