{% extends "base.html.twig" %}
{% block title %} Modification du mot de passe {% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-info text-center">Modification du mot de passe</h1>
        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
        {{ form_row(form) }}
        <button class="btn btn-primary">Enregistrer !</button>
        {{ form_end(form)  }}
    </div>
{% endblock %}


