{% extends "base.html.twig" %}
{% block title %} Modification du profile utilisateur {% endblock %}
{% block body %}

        <h3 class="text-center mt-5  mb-5">Modification du profile</h3>
        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
        <div class="row justify-content-center align-items-center">
                <div class="col-sm-5">
                 {{ form_row(form.firstName,{ 'label': 'Prénom' }) }}
                </div>
                <div class="col-lg-5">
                 {{ form_row(form.lastName,{ 'label': 'Nom' }) }}
                </div>
                <div class="col-lg-5">
                  {{ form_row(form.email,{ 'label': 'Email' }) }}
                </div>
                <div class="col-lg-5">
                 {{ form_row(form.picture,{ 'label': 'Photo' }) }}
                </div>
                <div class="col-lg-5">
                    <button class="btn btn-primary">Enregistrer !</button>
                </div>
        </div>

        {{ form_end(form)  }}

{% endblock %}


