{% extends 'base.html.twig' %}

{% block title %} HomePage {% endblock %}
{% block body %}
<div class="container text-dark py-3" xmlns="http://www.w3.org/1999/html">
  {# --- Conteneur pour afficher les résultats de recherche --- #}
  <div id="search-results" class="search-results" style="display: none;"></div>

    <div class="jumbotron text-justify mt-3">
        <h3 class="text-center"> {{ content }} </h3>
        <p class="lead">
            Nous sommes une agence de publication d'annonces des concours dont les utilisateurs peuvent
            poster des annonces de concours (pétanque, longue,tenis, etc) et de pouvoir effectuer des
            recherches par département. Nous avons aussi un système de notification en place afin d’avertir
            les utilisateurs de la présence d’un nouvel événement dans leur département.
        </p>
        <hr class="my-4">
        <p>
            Vous avez besoins de publier une annonce concernant un concours que souhaiter orginiser dans votre
            département, alors n'hésitez plus ! Rendez-vous sur notre site internet dédié à ces genres
            d'événement. C'est gratuit, sécurisé et flexibles.
        </p>
        <p>
            Ou encore, vous voulez savoir les derniers ou prochains concours dans votre département, alors
            connectez sur notre plateforme en savoir plus.
        </p>
       
    </div>
    <h2 class="text-info">Nos événements stars</h2>
    <div class="row mt-3">
        {% for ad in ads | slice (0, 6) %}

            <div class="col-md-6 col-lg-4 text-justify">
                <div class="card badge-light mb-3">
                    <div class="card-header text-center">
                        <p class="text-justify">
                        {{ ad.title }} Dans le département de <strong>{{ ad.ville.departements.name| upper}}</strong>
                        prévu le <span class="text-danger"> <strong>{{ ad.createdAt |date('d/m/Y à I:m') }}</strong></span>
                            ,type de concours :{{  ad.typeConcours }}

                        </p>


                   {#
                        {% if cmt.note | length > 0 %}
                        {% for  commnt in cmt.note  %}
                            <small>It y a {{ cmt.note | length }} notes
                                laissées par les utilisateur</small>
                        {% endfor %}
                        {% endif %}
                    #}
                    </div>
                    <a href="/uploads/{{ ad.image }} ">
                    <img src="uploads/{{ ad.image }}" alt="Image l'annonce" style="width:100% ; height:250px ;display:block">
                    </a>
                    <div class="card-body">
                        <a  href="{{ path('annonces_show', {'id': ad.id }) }}">
                            {{ ad.title | raw }}
                        </a>

                        <p class="card-text">{{ ad.content | raw }}</p>
                        <a class="btn btn-primary" href="{{ path('annonces_show', {'id':ad.id}) }}" role="button">
                            <i class="fas fa-eye"></i></a>
                        {% if app.user and app.user == ad.author %}
                            <a class="btn btn-secondary" href="{{ path('annonces_edit', {'id': ad.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="text-info">Nos utilisateurs stars</h2>
    <div class="row mt-3">
        {% for ad in ads | slice (0, 6)%}
            <div class="col-md-6 col-lg-4">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{ ad.author.firstName }} {{ ad.author.lastName }}</h4>
                        <hr>
                        <div class="card-text text-justify">
                            <img src="usersimages/{{ ad.author
                            .picture }}" alt="phote de l'auteur" class="avatar float-left mr-3">

                            <a class="btn btn-success float-right" href="{{ path('annonces_show', {'id': ad.id }) }}">
                                <i class="fas fa-eye"></i>
                            </a>
                            {% if app.user and app.user == ad.author %}
                                <a class="btn btn-primary float-right mr-1" href="{{ path
                                    ('annonces_edit', {'id': ad.id}) }}">
                                    <i class="fas fa-edit">
                                    </i></a>
                                {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

