<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-success" href="{{ path('home') }}">
        <i class="fas fa-home"></i>
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link text-warning" href="{{ path ('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ path ('annonces_index')}}">Annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" href="{{ path('annonces_new') }}">
                
                <i class="fas fa-plus-circle fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="http://concours.ismael-dev.com:8025/"><i class="fas fa-bell fa-2x"></i>
                </a>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{{ path('notify_index',{'slug':app.user.slug}) }} ">#}
{#                    <i class="fas fa-comments"></i>#}
{#                    Notifications#}
{#                </a>#}
{#            </li>#}

            {% if is_granted("ROLE_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link text-warning" href="{{ path('admin_dashbord_index')}} ">Admin</a>
            </li>
            {% endif %}
            
        </ul>
            <form id="search-form" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" name="query" id="search-query" placeholder="Ex: Titre, Ville, Desc..." >
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>

        <ul class="navbar-nav left">
        {% if  app.user %}
            <li class="nav-item dropdown">
                <a href="#" id="accountDropdownLink"  class="nav-link dropdown-toggle "
                   data-toggle="dropdown">
                    <img class="avatar avatar-mini" src="/usersimages/{{ app.user.picture }}" alt="Avatar de
                    {{ app.user.fullName }}">{{ app.user.fullName }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                    <a class="dropdown-item text-primary" href="{{ path ('annonces_new') }}">Créer une annonce</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('user_show', {'slug':app.user.slug}) }}" class="dropdown-item text-success">Mon Compte</a>
                    <a href="{{ path('account_profile') }}" class="dropdown-item text-warning">Modifier mon profil</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('account_logout') }}" class="dropdown-item text-danger">Déconnexion</a>
                </div>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link text-warning" href="{{ path('user_new')
                }}">S'inscrire
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ path('account_login')
                }}">Connexion </a>
            </li>
        </ul>
        {% endif %}
        {# <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> #}
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}