<form class="ml-3" method="post" action="{{ path('annonces_delete', {'id': ads.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ads.id) }}">
    <button class="btn btn-danger mt-2">
        <i class="fas fa-trash mr-2"></i>Supprimer
    </button>
</form>
