{% block body %}
    <div class="container text-dark">
        {# {'attr': {'novalidate': 'novalidate'}} #}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-4">
                {{ form_row(form.title) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.typeConcours, {'label':'type de concours'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.content) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.image) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.description) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.adImages) }}
            </div>
            <span class="m-auto alert alert-warning">Ici, il faut obligatoirement chosir la région d'abord
                puis le département etla ville sinon vous ne pouvez pas soummettre le formulaire !
            </span>
            <div class="row">
                <div class="col-lg-3">
                    {{ form_row(form.region) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(form.departement) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.ville) }}
                </div>
                <div class="col-lg-2">
                    {{ form_row(form.ouvertA) }}
                </div>
            </div>
            <div class="col-lg-6">
                {{ form_row(form.createdAt) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                {% if app.request.attributes.get('_route') == 'annonces_edit' %}
                    <h3>Images</h3>
                    {% for image in ads.images %}
                        <p><img class="image_border" src="{{ asset('/uploads/' ~ image.url) }}" alt="images"
                                width="150"></p>
                    {% endfor %}
                {% else %}
                    {#<p class="alert alert-warning"> Pas de photos !</p>#}
                {% endif %}
            </div>
            <div class="col-lg-2">

                <button class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    {{ button_label|default('Publier') }}

                </button>

            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/images.js"></script>
    <script src="{{ asset('js/adform.js') }}"></script>

{% endblock %}