{% extends 'base.html.twig' %}

{% block title %}Modification-Annonces{% endblock %}

{% block body %}
    <div class="container ">
        <h1 class="text-center">Modificer cette annonce</h1>
        <div class="row  mt-2">
            <div class="col">
                <duiv class="card bg-light ">
                    <div class="card-header">
                        <h4 class="card-title"><h1 class="text-center text-info">Publier un nouveau concours</h1></h4>
                        <div class="card-body">
                            <p>{{ include('annonces/_form.html.twig', {'button_label': 'Mettre à jour'}) }}</p>

                        </div>
                    </div>
                </duiv>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
