{% extends "base.html.twig" %}
{% block title %}Annonces!{% endblock %}

{% block body %}
<div class="container text-justify">


  {# --- Conteneur pour afficher les résultats de recherche --- #}
  <div id="search-results" class="search-results" style="display: none;"></div>

  <h1 class="my-3">Voici nos annonces pertinentes</h1>

  <div class="row">
    {% for ad in ads %}
      {% set url = path('annonces_show', {'id': ad.id}) %}
      <div class="col-lg-4 col-md-6">
        <div class="card badge-light mb-3">
          <div class="card-header text-justify">
            {{ ad.title }} prévu pour le <strong>{{ ad.createdAt | date('d/m/Y à H:i', 'Europe/Paris') }}</strong> à
            <strong>{{ ad.ville.name }}</strong>
            dans le département de <strong>{{ ad.ville.departements.name }}</strong>, en région de <strong>{{ ad.ville.departements.regions }}</strong>.<br>
            <hr class="bg-dark">
            <strong class="alert-info">Concours ouvert à : {{ ad.ouvertA.choix }}</strong>
          </div>
          <a href="{{ url }}">
            <img src="/uploads/{{ ad.image }}" alt="{{ ad.author.fullName }}" style="width:100%; height:250px; display:block">
          </a>
          <div class="card-body">
            <a href="{{ url }}">
              <h4 class="card-title">{{ ad.title }}</h4>
            </a>
            <p class="card-text">{{ ad.content | raw }}. <br> <strong class="text-danger">Ville : {{ ad.ville.name }}</strong></p>
            <a class="btn btn-outline-primary" href="{{ path('annonces_show', {'id': ad.id}) }}"><i class="fas fa-eye"></i></a>
            {% if app.user and app.user == ad.author %}
              <a class="btn btn-outline-info" href="{{ path('annonces_edit', {'id': ad.id}) }}">edit</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <p class="alert alert-warning">Pas d'annonces pour l'instant, revenez plus tard !</p>
    {% endfor %}
  </div>
  <p><a class="btn btn-primary" href="{{ path('annonces_new') }}">Publier un concours</a></p>
  <br>
</div>
{% endblock %}


