{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
<div class="container">
        {{ form_start(form) }}
        <div class="row  mt-2">
            <div class="col">
                <duiv class="card bg-light ">
                    <div class="card-header">
                        <h4 class="card-title"><h1 class="text-center text-info">Publier un nouveau concours</h1></h4>
                        <div class="card-body">
                            <p>{{ include('annonces/_form.html.twig', {'button_label': 'Publier'}) }}</p>
                        </div>
                    </div>
                </duiv>
            </div>

        </div>

        {{ form_end(form) }}


     {#  <p class="backtolist"><a class="btn btn-danger mt-2" href="{{ path('annonces_index') }}">Concours</a></p>#}
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
    <script src="{{ asset('js/adform.js') }}"></script>
{% endblock %}
