{% extends "base.html.twig" %}
{% block title %} Notification{% endblock %}
{% block body %}
    <div class="header text-center">

    <h1 class="text-center text-light">Bienvenue sur la page de notificaation !</h1>

        <img class="image_border bg-light" src="{{ asset('usersimages/envelope-regular.svg') }}" alt="jj">

  <p>
      {{ ads.title }}
      pour en savoir pus, rendez-vous sur
      <a class="btn btn-outline-primary"
         href="{{ path('annonces_show', {'id': ads.id}) }} "><i
                  class="fas fa-eye"></i></a>
  </p>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/adform.js') }}"></script>
{% endblock %}


