
    .container, .container-fluid{
        margin-top: 10px;
    }
    div.ad-title{
        padding: 2em;
        background-size: cover;
        background-position: center center;
    }
    div.ad-title h1, div.ad-title p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
    div.carousel-caption {
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
    .image_border{
        border-radius: 20px;
        width: 90px;
    }
    
    .avatar{
        max-width: 120px;
        max-height: 120px;
        width: 100%;
        object-fit: cover; 
        border-radius: 50%;
        
    }
    .avatar-mini{
        max-width: 26px;
        max-height: 26px;
        margin-right: 2px;
    }
    .btn {
        border-radius: 20px;
    }
    .backtolist{
        margin-left: 6%;
    }


    /* Conteneur pour les résultats de recherche */
.search-results {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Style de chaque résultat */
.annonce-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.annonce-item:last-child {
    border-bottom: none;
}

/* Animation fade-in */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

    


