<style>
 
footer{   
    
    bottom: 0;
    position: fixed;
    width: 100%;
    length: 40px !important;
    background-color: #343a40;
    color: white 
    
    
}
    @media (max-width: 522px) {
        footer{
            display:none;
        }
    }


</style>

<footer class="mt-4 bg-dark py-2 text-center">
    <div class="nav-bar nav justify-content-center">
        <a class="navbar-brand active text-light" href="{{ path('home') }}">Plan du site</a>
        <a  class="nav-link text-light" href="">Concours</a>
        <a class="nav-link text-light" href="">Publier un concours</a>
        <a class="nav-link text-light" href="">Inscription</a>
    </div>


   <p>Copyright Petits_annonces_des_concours !</p>
   <h2> Nos réseaux sociaux</h2>
   <!-- Add font awesome icons -->
   <a href="https://www.facebook.com/ismalsacko" class="fa fa-facebook"></a>
   <a href="https://twitter.com/ismaelsacko1" class="fa fa-twitter"></a>
{#   <a href="#" class="fa fa-google"></a>#}
   <a href="https://www.linkedin.com/in/isma%C3%A9l-sacko-6a5841151/" class="fa fa-linkedin"></a>
   <a href="https://www.youtube.com/channel/UC0eh_RKDPl3_ie49_UPkCzQ?view_as=subscriber" class="fa fa-youtube"></a>
   <a href="https://www.instagram.com/ismael.sacko/?hl=fr" class="fa fa-instagram"></a>
   <a href="#" class="fa fa-snapchat-ghost"></a>
   <a href="https://join.skype.com/invite/pzAKKM3xkIBv" class="fa
   fa-skype"></a>

   {#   <a href="#" class="fa fa-yahoo"></a>#}
</footer>