<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="{{ path('admin_ad') }}">
        <i class="fas fa-home"></i>
        Admin
        
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('admin_dashbord_index') }}">
                   <i class="fas fa-chart-line"></i>
                    Dashbord
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path ('admin_ad') }}">
                    <i class="fas fa-store"></i>
                    Annonces
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_user_index') }} ">
                    <i class="fas fa-users"></i>
                    Utilisateurs
                </a>
            {#</li><li class="nav-item">
                <a class="nav-link" href="{{ path('admin_commentaire_index')}} ">
                    <i class="fas fa-comments"></i>
                    Commentaires
                </a>
            </li>
            </li><li class="nav-item">
                <a class="nav-link" href="{{ path('admin_achat_index')}} ">
                    <i class="fas fa-cart-arrow-down"></i>
                    Paniers
                </a>
            </li>#}
        </ul>
        <ul class="navbar-nav left">
            <li class="nav-item dropdown">
                <a href="#" id="accountDropdownLink" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <img class="avatar avatar-mini" src="/usersimages/{{  app.user.picture }}" alt="Avatar de
                    {{ app.user.fullName }}">{{ app.user.fullName }}
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">

                    <div class="dropdown-divider"></div>
                <a href="{{ path('home') }}" target="_blank" class="dropdown-item">
                    <i class="fas fa-eye"></i>
                    Voir le site
                </a>

                    <div class="dropdown-divider"></div>
                    <a href="{{ path('admin_account_logout') }}" class="dropdown-item">Déconnexion</a>
                </div>
            </li>
        </ul>
        {# <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> #}
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}