{% extends 'admin/ad/base.html.twig' %}

{% block title %}Dashbord !{% endblock %}

{% block body %}
    <h1 class="  text-center">Tableau de bord</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card bg-primary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{ stats.users }} utilisateurs</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-white mb-3 text-center bg-success">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-store fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{ stats.ads}} annonces postées</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="col">
                <div class="card text-white bg-warning mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-folder fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">Commandes</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
            {#<div class="col">
                <div class="card text-info bg-light mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-comments fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title"> Commentaires</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        </div>
    </div>
{% endblock %}
