<div class="container m-auto">
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
      <div class="col-lg-6 col-md-6">
          {{ form_row(form.firstName) }}
      </div>
        <div class="col-lg-6 col-md-6">
          {{ form_row(form.lastName) }}
      </div>
        <div class="col-lg-6 col-md-6">
          {{ form_row(form.email) }}
      </div>

        <div class="col-lg-6 col-md-6">
            {{ form_row(form.picture) }}
        </div>
        <div class="col-lg-6 col-md-6">
          {{ form_row(form.hash) }}
      </div>
        <div class="col-lg-6 col-md-6">
          {{ form_row(form.confirmPassword) }}
      </div>

    </div>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>