{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit User</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-info mt-2" href="{{ path('user_index') }}">
            <i class="fas fa-arrow-circle-left"></i>
        </a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
