{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">
        <h1 class="text-info text-center">User index</h1>

        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Picture</th>
                {#<th>Hash</th>#}
                <th>Intro</th>
                <th>Presentation</th>
                <th>Slug</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <img class="image_border avatar-mini" src="/usersimages/{{ user.picture }}"
                             alt="imade de l'utilisateur">
                    </td>
                    {# <td>{{ user.hash }}</td> #}
                    <td>{{ user.intro }}</td>
                    <td>{{ user.presentation }}</td>
                    <td>{{ user.slug }}</td>
                    <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-primary"
                           href="{{ path('user_show', {'slug': user.slug}) }}">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="btn btn-danger mt-2"
                           href="{{ path('user_edit', {'slug': user.slug}) }}">
                            <i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'admin/partials/pagination.html.twig' with {'route' : 'user_index'} %}

        {#        <a class="btn btn-primary" href="{{ path('user_new') }}">Create new</a>#}
    </div>
{% endblock %}
