{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

        <h1 class="text-center mt-2">Inscrivez vous ici</h1>
    <hr class="text-success">

        {{ include('user/_form.html.twig') }}

        <a class="ml-5" href="{{ path('user_index') }}"><i class="fas fa-arrow-circle-left"></i></a>

{% endblock %}
