{% extends 'base.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-info py-3">User</h1>
        <div class="row">
            <div class="col-3 text-center">
                <a href="/usersimages/{{ user.picture }}" alt="{{ user.firstName }}">
                    <img class="mb-3" id="avatar" src="/usersimages/{{ user.picture }}" alt="{{ user.firstName }}">
                </a>
                <br>
                <span class="badge badge-primary">{{ user.annonces |length }} annonce(s).</span>
            </div>
            <div class="col-4">
                <h1>Mes information</h1>
                <p><strong>Nom complet : </strong>{{ user.fullName }}</p>
                <p><strong>Email : </strong>{{ user.email }}</p>
            </div>
               <div class="col-5">
                <h1>Modifier le mot de passe</h1>
                <a class="btn btn-primary" href="{{ path('profole_password')}}">Modifier le mot de passe</a>
               <p> <strong class=""> {{ include('user/_delete_form.html.twig') }}</strong></p>
                
        
            </div>
            </div>
        </div>

   
        <hr>

        <h1>Mes annonces</h1>

        {% if user.annonces | length > 0 %}
            <div class="row">
            {% for ads in user.annonces  %}
                <div class="col-md-4">
                    <div class="card badge-light mb-3">
                        <div class="card-header text-center">
                            <strong>{{ ads.title }}</strong><br>
                            <small>Publié le {{ ads.createdAt | date('d/m/Y à H:i', 'Europe/Paris') }}</small>
                        </div>
                        <a href="/uploads/{{ ads.image }}">
                            <img src="/uploads/{{ ads.image }}" alt="Image du téléphone" style="width:100% ; height:250px ;display:block">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{ ads.title }} </h4>
                            <p class="card-text">{{ ads.content }}</p>
                            <a class="btn btn-secondary" href="{{ path('annonces_show', {'id':ads.id}) }}" role="button">
                                <i class="fas fa eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-warning">
                <h1>{{ user.fullName }} n'a pas d'annonces pour l'instant !</h1>
            </div>

        {% endif %}

{#<td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}


        {#href="{{ path('user_index') }}">back to list</a>#}

 



    </div>
{% endblock %}
